<div class="header py-6">
</div>

<div *ngIf="game" class="container-fluid mt--7">
    <div class="row">
        <div class="col-6 text-left">
            <a routerLink="/home"> <i class="fa-lg fas fa-long-arrow-alt-left"></i></a>

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6 text-left">
            <h1> {{ game.name }}</h1>
        </div>
        <div class="col-6 text-right">
            <a (click)="openModalAddLiquidity()" class="btn btn-sm btn-outline-success">Add liquidity</a>
            <a (click)="openModalPlayGame()" class="btn btn-sm btn-primary">Play game</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center mb-2">
                        <div class="col-8">
                            <h3 class="mb-0">Ticket price</h3>
                        </div>
                        <div class="col-4">
                            <span class="mb-0">{{ game.ticketPrice }}</span>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <div class="col-8">
                            <h3 class="mb-0">Number to draw </h3>
                        </div>
                        <div class="col-4">
                            <span class="mb-0">{{ game.requiredMatching }}</span>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <div class="col-8">
                            <h3 class="mb-0">Max prize</h3>
                        </div>
                        <div class="col-4">
                            <span *ngIf="game.maxPrize" class="mb-0">{{ game.maxPrize }}</span>
                            <span *ngIf="!game.maxPrize" class="mb-0">No max prize</span>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <div class="col-8">
                            <h3 class="mb-0">Prize</h3>
                        </div>
                        <div *ngIf="liquidity" class="col-4">
                            <span class="mb-0"> {{ liquidity }}</span>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <div class="col-8">
                            <h3 class="mb-0">Odds</h3>
                        </div>
                        <div class="col-4">
                            <span class="mb-0"> 1 in {{ game.odds }}</span>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <div class="card shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Last transactions</h3>
                        </div>
                    </div>

                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">winning number</th>
                                <th scope="col">Number submited</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tr of gameTransactions">
                                <td [class.winner-row]="tr.isRowWinner">
                                    {{ tr.createdAt | date : 'mediumDate' }}
                                </td>
                                <td [class.winner-row]="tr.isRowWinner">
                                    {{ tr.winningNumber }}
                                </td>
                                <td [class.winner-row]="tr.isRowWinner">
                                    {{ tr.playerNumbers }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>