<h2 mat-dialog-title>Add liquidity</h2>
<mat-dialog-content class="mat-typography">
    <p> Add liquidity to the pool and you will get </p>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="px-lg-5 py-lg-5">
                <form [formGroup]="liquidityForm" role="form" (ngSubmit)="addLiquidity()">
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-glass-whiskey"></i></span>
                            </div>
                            <input formControlName="quantity" class="form-control" placeholder="Quantity" type="number">
                        </div>
                    </div>
                    <div class="text-muted font-italic"><small>Share of the pool:
                            <span class="text-success font-weight-700">{{sharePool}} % </span>
                        </small></div>


                </form>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <div class="text-center mb-3">
        <button [disabled]="disabledButton" (click)="addLiquidity()" type="button" class="btn btn-primary mt-4">
            {{ !disabledButton ? 'Add liquidity' : 'loading ...'}}
        </button>
    </div>
</mat-dialog-actions>