<nav class="navbar">
    <a  class="navbar-brand" [routerLink]="['landing']">Scratchy</a>
    <div class="row">
        <ul class="nav">
            <li class="nav-item">
              <a  class="nav-link" [routerLink]="['home']">Games</a>
            </li>

            <li  class="nav-item">
              <a  class="nav-link" [routerLink]="['investors']">Investors</a>
            </li>
            <li  class="nav-item">
              <a routerLink="/new-game" class="btn btn-sm btn-primary">New Game</a>
            </li>
          </ul>
    </div>
  <div style="float:right">
    <span class="small mr-3" *ngIf="user">{{ user.get('ethAddress') | address }}</span>
    <button *ngIf="!isLoggedIn" (click)="logIn()" class="btn my-2 my-sm-0" style="color:white">Log in</button>
    <button *ngIf="isLoggedIn" (click)="logOut()" class="btn btn-outline-danger my-2 my-sm-0" >
      log out
    </button>
  </div>
</nav>
