<nav class="navbar">
    <a  class="navbar-brand" [routerLink]="['home']">Scratchy</a>
    <div class="row">
        <ul class="nav">
			<li class="nav-item">
				<a  class="nav-link" [routerLink]="['marketplace']">Games</a>
			</li>
			<li  class="nav-item">
			  <a  class="nav-link" [routerLink]="['investors']">Investors</a>
			</li>
          </ul>
    </div>
    <button *ngIf="!isLoggedIn" (click)="logIn()" class="btn btn-outline-primary my-2 my-sm-0" >log in</button>
    <button *ngIf="isLoggedIn" (click)="logOut()" class="btn btn-outline-primary my-2 my-sm-0" >log out
		<span class="small">{{ user.get('ethAddress') | address }}</span>
	</button>

</nav>
