.navbar {
	background-color: #50255F;
	color: white;
	padding: 8px 1rem;
}

.nav-link {
	color: white;
}

.navbar-brand {
  font-family: Audiowide;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: white;
}
