<div class="container pt-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 pb-5" style="display:flex; align-items:center" *ngFor="let game of games">
      <app-card-game></app-card-game>
      <div style="width: 100%; cursor:pointer" [routerLink]="['/details-game', game.address]">
        <div class="card card-stats mb-4 mb-lg-0 pl-3">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">{{ game.ticketPrice }} AVAX</h5>
                <span class="h2 font-weight-bold mb-0">{{ game.name }}</span>
              </div>
            </div>
              <div class="line-info">
                <span>Liquidity</span>
                <hr />
                <b>{{ game.liquidity }}</b>
              </div>
              <div class="line-info">
                <span>Odds</span>
                <hr />
                <b>1 in {{ game.odds }}</b>
              </div>
              <div class="line-info">
                <span>Max Prize</span>
                <hr />
                <b *ngIf="game.maxPrize">{{ game.maxPrize }}</b>
                <b *ngIf="!game.maxPrize">No max prize</b>
              </div>
            <!--<div class="line-chart">
              <div class="aspect-ratio">
                <canvas id="chart"></canvas>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
