.winner-row {
    background-color: #34AE3E !important;
    padding: 10px;
}
.lose-row {
    background-color: #D75E3B !important;
}

.card {
  background: rgba(196, 196, 196, 0.2);
  backdrop-filter: blur(16px);
  border-radius: 30px;
  z-index:1;
  color: white;
}

.actions {
	background: rgba(196, 196, 196, 0.2);
	padding: 8px 16px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 16px;
	align-items: center;
	color: white;
}

.line-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
	gap: 16px;
	white-space: nowrap;

	& > span {
		color: rgba(255,255,255, 0.8);
	}

	& > hr {
		margin-top: unset;
        margin-bottom: unset;
		width:100%;
		background-color: rgba(255,255,255, 0.5);
	}
}

h3 {
color: white;
}

.title {
  font-family: Audiowide;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  color: #FFFFFF;
}

.game {
  background: linear-gradient(90deg, #E8546A 0%, #50255F 100%);
  border-radius: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 8px;
  height: fit-content;

  .connect-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    color: #FFFFFF;
  }
}

.liquidity {
  border-radius: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 8px 16px;
  border: solid 1px #E8546A;
  border-radius: 8px;
  height: fit-content;

  .connect-text {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      /* identical to box height */
      color: #FFFFFF;
    }
}

.table {
color: white !important;
}

tbody {
	tr:last-child {
		td:first-child {
			border-radius: 0 0 0 30px;
		}
	}
}

app-card-game {
	padding-top: 80px;
	transform: scale(1.3);
}
