<div *ngIf='positions' class="row mt-5">
    <div class="col-1"> </div>
    <div class="col">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="mb-3">Your positions</h3>
            </div>
        </div>
        <div *ngFor="let ps of positions; let index = index" class="card shadow mb-4">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h3 class="mb-0">{{ ps.gameName }}</h3>
                    </div>
                    <div class="col-6 text-right">
                        <a (click)="openRemoveLiquidity(ps.tokenAddress)" class="btn btn-sm btn-success">Withdraw</a>

                        <a [routerLink]="['/details-game', ps.tokenAddress]" class="btn btn-sm btn-primary">Game</a>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-6">
                        <span>Liquididty added : {{ ps.balance }}  </span>
                        <br>
                        <span>Estimated reward : {{ ps.estimatedReward?.toFixed(2) }}</span>
                        <br>
                        <span *ngIf="ps.percentageChange >= 0"class="text-success mr-2">
                            <i  class="fas fa-arrow-up"></i>
                            {{ ps.percentageChange?.toFixed(2) }}%</span>
                            <span *ngIf="ps.percentageChange < 0" class="text-warning mr-2">
                                <i  class="fas fa-arrow-down"></i>
                                {{ ps.percentageChange?.toFixed(2) }}%</span>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"> </div>

</div>
