.card {
  background: rgba(196, 196, 196, 0.2);
  backdrop-filter: blur(16px);
  border-radius: 30px;
  z-index:1;
  color: white;
  padding: 30px;
}

section {
  height:100vh;
  width: 100vw;
  overflow-x: hidden;
}
